.formulario{
    width: 300PX;
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
    background: linear-gradient(#bd09b7, #6b4cf5);
    color: white;
    box-shadow: 10px 5px 5px black;
    font-family: arial;
}
.campo{
    padding: 7px;
}
input{
    width: 100%;
    font-size: 20px;
}
.input1{
    width: 10px;
    font-size: 10px;
}